.categoryContainer {
  padding-top: 25px;
  padding-right: 25px;
}

.title {
  font-weight: bold;
  font-size: 14px;
}

.childrenContainer {
  padding-top: 10px;
  font-size: 12px;
  color: #969696;
  padding-bottom: 5px;
}
