@use '../../../colors.scss';

.uploadPhotosButton {
  background-color: colors.$twenty-blue-dark;
  margin-left: 15px;
  color: colors.$white-1;
  font-weight: bold;
  height: 25px;
  border-radius: 5px;
  border: 1px solid colors.$black-1;
}

.arrow {
  margin-left: 10px;
}
