@use '../../../colors.scss';

.mainContainer {
  background-color: white;
  width: 100%;
  height: auto;
  padding: 10px;
  padding-right: 25px;
  border: 1px solid lightgray;
  border-right: 0;
  transform: translateX(1px);
}

.dataContainer {
  display: grid;
  grid-template-columns: 33% auto;
  grid-column-gap: 10px;
}

.username {
  font-weight: bold;
  color: colors.$twenty-blue-light;
}

.visitsContainer {
  display: flex;
  padding-top: 10px;
}

.visitsImage {
  height: 15px;
}

.visitCountText {
  padding-left: 5px;
  color: colors.$gray-1;
  font-size: 14px;
}

.visitCount {
  font-weight: bold;
  color: black;
}
