@use '../../colors.scss';

.writeComment {
  background-color: colors.$light-gray-1;
  border: 1px solid colors.$gray-1;
  padding: 10px;
  height: 75px;
  display: flex;
  flex: 1;
  margin-bottom: 10px;

  & > *:first-child {
    width: 10%;
    max-height: 100%;
  }

  textarea {
    resize: none;
    width: 90%;
  }

  .writeCommentContent {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
  }
}
