@use '../media.scss';

.main {
  height: 100%;
  width: 100%;
  display: flex;

  & > *:nth-child(2n + 1) {
    display: none;
    @include media.desktop() {
      display: block;
    }
  }

  @include media.desktop() {
    display: grid;
    grid-template-columns: 25% 50% 25%;
    column-gap: 20px;

    & > * {
      padding-top: 25px;
    }
  }
}
