@use '../../colors.scss';
@use '../../media.scss';

.navbarContainer {
  background-color: colors.$twenty-blue-light;
  color: colors.$white-1;
  height: 50px;
  font-size: 14px;
  overflow: auto;
  align-self: flex-end;
}

.navbar {
  display: flex;
  align-items: center;
}

.navbarLogo {
  display: none;

  @include media.desktop() {
    height: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

.logoSpacing {
  margin-right: 2px;
}

.navbarLinks {
  margin-left: 20px;
  display: flex;
  height: 100%;
  align-items: center;
  flex-wrap: wrap;
  overflow: hidden;

  & > * {
    height: 100%;
    display: flex;
    align-items: center;
    padding-right: 15px;
    padding-left: 15px;
    cursor: pointer;
  }

  & > .active {
    background-color: colors.$twenty-blue-dark;
    font-weight: bold;
  }

  input {
    margin-left: 15px;
    padding-right: 10px;
    padding-left: 10px;
  }

  @include media.desktop() {
    margin-left: 0;
  }
}

.navbarAccount {
  display: none;

  @include media.desktop() {
    display: flex;
    align-items: center;
    margin-left: auto;

    & > *:first-child {
      margin-right: 30px;
    }
  }
}

.navbarIcon {
  font-size: 22px;
  margin-right: 0;

  @include media.tablet() {
    margin-right: 10px;
  }

  @include media.desktop() {
    display: none;
  }
}

.navbarText {
  display: none;

  @include media.from-tablet() {
    display: block;
  }
}

.menu {
  margin-left: auto;
  margin-right: 20px;
  font-size: 18px;

  @include media.desktop() {
    display: none;
  }
}

.elementsHeight {
  height: 30px;
}

input[name="searchbar"],
button[name="uploadphotos"] {
  display: none;

  @include media.desktop() {
    display: block;
  }
}

.mobileMenuInput {
  display: none;
}

.mobileMenuContainer {
  display: flex;
  z-index: 999;
  left: 0;
  top: 100%;
  transition: all 250ms ease-in-out;
  position: absolute;
  flex-direction: column;
  overflow: auto;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
  font-size: 32px;
  width: 100%;
  height: 100%;
  background-color: colors.$twenty-blue-light;

  & > * {
    padding-bottom: 32px;
  }
}

.mobileMenuInput:checked ~ .mobileMenuContainer {
  top: 0;
}
