@use '../../../colors.scss';

.emptyContainer {
  background-color: colors.$white-1;
  width: 100%;
  height: auto;
  padding: 10px;
  padding-right: 25px;
  border: 1px solid colors.$light-gray-2;
  border-right: 0;
  transform: translateX(1px);
}

.withoutPadding {
  padding: 0;
}
