.divContainer {
  display: flex;
}

.statusContainer {
  padding: 10px;
  border: 1px solid #969696;
  font-size: 18px;
  color: #969696;
  display: flex;
  flex: 1;
}

.input {
  height: 100%;
  width: 100%;
  font-size: 18px;
  margin-left: 10px;
  border: none;
  outline: none;
}

.triangleContainer {
  width: 20px;
  height: inherit;
  overflow: hidden;
  transform: translateX(1px);
}

.triangle {
  width: 15px;
  height: 15px;
  border: 1px solid #969696;
  position: relative;
  top: 50%;
  transform: translateY(-50%) translateX(13px) rotate(45deg);
  background: white;
}

.updateTextContainer {
  padding-left: 20px;
  padding-top: 20px;
  gap: 20px;
  display: flex;
}

.updateText {
  line-break: anywhere;
  color: #969696;
  font-weight: bold;
  font-size: 15px;
}

.lastUpdate::before {
  content: " ";
}

.lastUpdate {
  font-weight: normal;
}

.buttonContainer {
  margin-left: auto;
  min-width: 100px;
}
