@use '../../../colors.scss';
@use '../../../media.scss';

.editStatusContainer {
  display: none;

  @include media.desktop() {
    display: block;
  }
}

.input {
  height: 100%;
  width: 100%;
  font-size: 18px;
  margin-left: 10px;
  border: none;
  outline: none;
}

.updateTextContainer {
  padding-top: 20px;
  gap: 20px;
  display: flex;
}

.updateText {
  line-break: normal;
  color: colors.$black-1;
  font-weight: bold;
  font-size: 15px;
}

.updatedAgo {
  color: colors.$gray-1;
}

.lastUpdate::before {
  content: " ";
}

.lastUpdate {
  font-weight: normal;
}

.buttonContainer {
  margin-left: auto;
  min-width: 100px;
}
