.categoryContainer {
  padding-top: 25px;
  padding-right: 25px;
}

.title {
  font-weight: bold;
  font-size: 14px;
}

.title::before {
  content: "";
}

.chatContainer {
  border: 1px solid #969696;
  height: 250px;
}

.headerContainer {
  display: flex;
}

.settings {
  margin-left: auto;
  color: #4d78a4;
  font-weight: bold;
  font-size: 14px;
}

.chatStatus {
  font-size: 12px;
  color: green;
}
