@use '../../../colors.scss';

.categoryContainer {
  padding-top: 25px;
  padding-right: 25px;
}

.title {
  font-weight: bold;
  font-size: 14px;
  display: flex;
  align-items: center;
}

.chatContainer {
  border: 1px solid colors.$gray-1;
  padding: 10px;
}

.chatTitle {
  padding-left: 5px;
}

.headerContainer {
  display: flex;
  padding-bottom: 10px;
}

.settings {
  margin-left: auto;
  color: colors.$twenty-blue-light;
  font-weight: bold;
  font-size: 14px;
}

.chatStatus {
  font-size: 12px;
  color: colors.$green-1;
}

.connectedFriend {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.connectedFriend p {
  margin: 0;
  padding-left: 5px;
  font-size: 14px;
}

.unreadMessages {
  margin-left: auto;
  background-color: colors.$green-1;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: colors.$white-1;
}
