@use '../../../colors.scss';

.connectionCircle {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: colors.$green-1;
}

.connectionCircle.disconnected {
  background-color: lightgray;
}
