@use '../../../colors.scss';

.news {
  margin-left: 20px;
  padding-top: 20px;
  border-bottom: 1px solid colors.$gray-1;
  display: flex;
  align-items: flex-end;
}

.newsLabel {
  font-size: 22px;
}

.categories {
  margin-left: auto;
  display: flex;
  height: 30px;
  align-items: flex-end;
}

.categories > * {
  padding-left: 10px;
  padding-right: 10px;
  height: 100%;
  display: flex;
  align-items: center;
  transform: translateY(1px);
}

.active {
  border: 1px solid colors.$gray-1;
  border-bottom: 1px solid colors.$white-1;
  font-weight: bold;
}

.categories > *:not(.active) {
  color: colors.$twenty-blue-light;
}
