@use './media.scss';
@use './colors.scss';

:root {
  --twenty-blue: #{colors.$twenty-blue};
  --twenty-blue-dark: #{colors.$twenty-blue-dark};
  --twenty-blue-light: #{colors.$twenty-blue-light};
  --light-gray-1: #{colors.$light-gray-1};
  --light-gray-2: #{colors.$light-gray-2};
  --gray-1: #{colors.$gray-1};
  --gray-2: #{colors.$gray-2};
  --green-1: #{colors.$green-1};
  --red-1: #{colors.$red-1};
  --orange-1: #{colors.$orange-1};
  --white-1: #{colors.$white-1};
  --black-1: #{colors.$black-1};
}

* {
  box-sizing: border-box;
}

body,
html {
  height: 100%;
}

body {
  margin: 0;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

textarea {
  font-family: Arial, Helvetica, sans-serif;
}

#app {
  height: 100%;
  display: flex;
  flex-direction: column-reverse;
  position: relative;
  overflow: hidden;

  @include media.desktop() {
    flex-direction: column;
  }
}
