$twenty-blue: #3a6c98;
$twenty-blue-dark: #2a4e6e;
$twenty-blue-light: #4d78a4;
$twenty-blue-gradient: linear-gradient(to bottom, #9dd2eb, #8bcceb);

$light-gray-1: #f5f5f5;
$light-gray-2: #d3d3d3;
$gray-1: #969696;
$gray-2: #777777;

$green-1: green;
$red-1: red;
$orange-1: orange;

$white-1: white;
$black-1: black;
