@use '../colors.scss';

.infoImg {
  display: grid;
  grid-template-columns: 20% 80%;
  align-items: center;
  width: 340px;
  margin-bottom: 25px;

  .imgContainer {
    grid-column: 1/2;
    height: 60%;

    .img {
      max-width: 45px;
      max-height: 50px;
    }
  }

  .textContainer {
    grid-column: 2/3;
    color: colors.$white-1;

    .title {
      font-weight: bold;
    }

    .description {
      font-size: 14px;
      margin-top: 5px;
      color: colors.$light-gray-1;
    }
  }
}
