@use '../../../colors.scss';

.text {
  font-size: 14px;
}

.button {
  margin-top: 10px;
  padding: 0;
}

.buttonContainer {
  display: flex;
}

.searchDiv {
  padding: 5px 10px;
  background-color: colors.$orange-1;
  color: colors.$white-1;
}

.textContainer {
  padding: 5px;
  background: colors.$light-gray-1;
  color: colors.$gray-1;
}
