.text {
  font-size: 14px;
}

.button {
  margin-top: 10px;
  padding: 0;
}

.buttonContainer {
  display: flex;
}

.searchDiv {
  padding: 5px 10px;
  background-color: orange;
  color: white;
}

.textContainer {
  padding: 5px;
  background: #f5f5f5;
  color: #969696;
}
