@use '../../../colors.scss';

.textContainer {
  font-size: 12px;
  color: colors.$gray-1;
  padding-bottom: 5px;
}

.textCount {
  font-weight: bold;
}

.inviteContainer {
  display: grid;
  grid-template-columns: 50% auto;
  column-gap: 10px;
}

.input {
  height: 100%;
}

.errorMsg {
  color: colors.$red-1;
  margin-top: 5px;
}
