@use '../../../colors.scss';

.image {
  height: 80px;
}

.small {
  height: 50px;
  width: 50px;
}

.medium {
  height: 75px;
  width: 75px;
}

.big {
  height: 250px;
  width: 250px;
}

.auto {
  height: auto;
}

.imageFrame {
  width: 100%;
  height: 100%;

  &.withoutPadding {
    padding: 0;
  }

  &.padding {
    padding: 5px;
  }
}

.img {
  width: 100%;
  height: 100%;
  border: 1px solid colors.$light-gray-2;
  background-color: white;
}

.withBorder {
  border: 1px solid colors.$light-gray-2;
}
