@use '../../../colors.scss';

.image {
  height: 80px;
  border: 1px solid colors.$light-gray-2;
}

.imageFrame {
  width: 100%;
  height: 100%;
  padding: 5px;
}

.img {
  width: 100%;
  height: 100%;
  border: 1px solid colors.$light-gray-2;
}
